 body {
      background-color: #D0E4F5;
      background-image: url("stars2.gif");
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: 0 0;
      font-family: "Comic Sans MS", sans-serif;
      margin: 2em;
      text-shadow: 2px 2px 4px #000000;
      font-style: normal;
      color: #ffffff;
      text-align: center;
    }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inline-block {
   display: inline-block;
}