body {
	margin: 0;
	background-color: black;
}

#bg-img {
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	filter: blur(6px);
	opacity: 33%;
	z-index: -1000;
	pointer-events: none;
}

#b4-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 100;
	transition-property: opacity;
	transition-duration: 0.5s;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 100px;
	font-family: 'Times New Roman';
}

#hd-logo {
  position: fixed;
  top: 30vh;
  left: 10vw;
  width: 400px;
}

#hd-links {
  position: fixed;
  top: calc(30vh + 64px);
  left: 10vw;
  color: white;
  list-style: none;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 40px;
}

#hd-links > li {
  text-decoration: underline;
  text-decoration-color: transparent;
  padding-left: 0px;
  transition-property: padding-left text-decoration-color;
  transition-duration: 0.22s;
  width: 300px;
  /*
  transition-property: text-decoration-color;
  transition-duration: 0.1s;
  */
}

#hd-links > li:hover {
  cursor: pointer;
  padding-left: 11px;
  text-decoration-color: inherit;
}

#sec-head {
  transition-property: opacity left
}